body{
    background-image: url("img/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center top;
    overflow: hidden;
    font-family: 'Zhi Mang Xing', cursive;


}


button{
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 0;
}

img{
    width: 100%;
    height: 100%;
}

#imgbg{
    position: absolute;
    left: -150px;
    bottom: 0%;
    height: 100px;
    width: 150px;
    transition: left .1s linear;
    z-index: 0;
    text-align: center;
    color: black;
}

#wordsbg{
    z-index: 2;
    position: relative;
    bottom: 0%;
    font-size: 1em;
    transition: bottom 1s linear 1s;
}

#img1{
    position: absolute;
    left: 0px;
    bottom: -100px;
    height: 100px;
    width: 150px;
    transition: bottom .1s linear .1s;
    z-index: 0;
    text-align: center;
    color: black;
}

#words1{
    z-index: 2;
    position: relative;
    bottom: 0%;
    font-size: 1em;
    transition: bottom 1s linear 1s;
}

#img2{
    position: absolute;
    left: -250px;
    bottom: 0px;
    height: 200px;
    width: 250px;
    transition: left .1s linear .2s;
    z-index: 0;
    text-align: center;
    color: black;}

#words2{
    z-index: 2;
    position: relative;
    bottom: 0%;
    font-size: 1em;
    transition: bottom 1s linear 1s;
}

#img3{
    position: absolute;
    left: 0;
    bottom: -300px;
    height: 300px;
    width: 400px;
    transition: bottom .1s ease-in .3s;
    z-index: 0;
    text-align: center;
    color: black;
}

#words3{
    z-index: 2;
    position: relative;
    bottom: 0%;
    font-size: 2em;
    transition: bottom 1s linear 1s;
    
}

#img4{
    position: absolute;
    left: -500px;
    bottom: 0%;
    height: 300px;
    width: 500px;
    transition: left .1s ease-in .4s;
    z-index: 0;
    text-align: center;
    color: black;
}

#words4{
    z-index: 2;
    position: relative;
    bottom: 0%;
    font-size: 2em;
    transition: bottom 1s linear 1s;
}
   
#img5{
    position: absolute;
    left: -600px;
    bottom: -500px;
    height: 500px;
    width: 600px;
    transition: left .3s ease-in .5s, bottom .3s ease-in .5s;
    z-index: 0;
    text-align: center;
    color: black;
} 

#words5{
    z-index: 2;
    position: relative;
    bottom: 0%;
    font-size: 3em;
    transition: bottom 1s linear 1s;
}
 
.imgbgtrans{
    left: 0px !important;
}

.img1trans{
    bottom: 100px !important;
}

.img2trans{
    left: 150px !important;
}

.img3trans{
    bottom: 200px !important;
}


.img4trans{
    left: 400px !important;
}

.img5trans{
    left: 400px !important;
    bottom: 300px !important;
}

.wordsBgTrans{
    bottom: 75% !important;
}

.words1Trans{
    bottom: 75% !important;
}

.words2Trans{
    bottom: 75% !important;
}

.words3Trans{
    bottom: 75% !important;
}

.words4Trans{
    bottom: 75% !important;
}

.words5Trans{
    bottom: 75% !important;
}


.bigTextClass{
    position: absolute;
    width: 650px;
    height: 500px;
    text-align: center;
    font-size: 100px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}